@media screen and (min-width: 525px) {
  .header-pc {
    display: block;
  }
  .header-mobile {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .header-pc {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
@media (max-width: 10000000px) {
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  strong,
  .strong {
    font-weight: bolder;
  }
  .text-white {
    color: rgb(255, 255, 255);
  }
  .text-gray {
    color: rgb(207, 207, 207);
  }
  .text-align1 {
    margin-top: 0.2em;
    color: #ffffff;
    font: 15px/1 Tahoma;
    min-height: 1.8em;
  }
  .text-1 {
    margin-top: -1.2em;
    margin-left: 2.6em;
  }
  .text-2 {
    margin-top: -1.2em;
    margin-left: 4.6em;
  }
  .text-3 {
    margin-top: -1.2em;
    margin-left: 7.5em;
  }
  .text-4 {
    margin-top: -1.2em;
    margin-left: 3.5em;
  }
  .text-5 {
    min-height: 2em;
    color: #ffffff;
    font: 25px/1 Material Symbols Outlined;
    margin-bottom: -1em;
    margin-top: -0.4em;
  }
  .c-button {
    min-width: 10em;
    min-height: 5em;
    appearance: none;
    border: 0;
    background: #5d5d5d00;
    color: #ffffff;
    padding: 1em 1em;
    font: 15px/1 Tahoma;
    cursor: pointer;
    margin-top: -2em;
    margin-bottom: -2em;
  }
  .c-button:hover {
    background: #ffffffad;
    box-shadow: 0 0 1px 4px #ffffff;
    min-height: 6em;
    color: #000000b9;
  }
  .c-button:focus {
    outline: none;
  }
  .c-button-mobile {
    min-width: 4em;
    min-height: 5em;
    appearance: none;
    border: 0;
    background: #5d5d5d00;
    color: #ffffff;
    padding: 1em 1em;
    font: 15px/1 Tahoma;
    cursor: pointer;
    margin-top: -2em;
    margin-bottom: -2em;
  }
  .c-button-mobile:hover {
    background: #ffffffad;
    box-shadow: 0 0 1px 4px #ffffff;
    min-height: 1em;
    color: #000000b9;
  }
  .c-button-mobile:focus {
    outline: none;
  }
  div {
    color: #ffffff;
  }
  body {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-color: rgb(63, 63, 63);
  }
  .main-menu_top {
    min-width: 100px;
    font-family: "Arial Narrow Bold", sans-serif;
    appearance: none;
    border: 10px;
    border-radius: 2px;
    background-color: rgb(24, 24, 24);
    padding: 30px 16px;
    font-size: 15px;
    cursor: context-menu;
    margin-top: -1em;
    margin-left: -0.6em;
    margin-right: -0.6em;
    box-shadow: 0px 2px 0px 0px #07d100;
  }
  .top-page {
    text-align: center;
    background-color: rgb(44, 44, 44);
    margin-left: 10%;
    box-shadow: 0.2em 0.2em 0em 0em #111111;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 0px;
    margin-top: 1em;
    min-height: 4em;
  }
  .page {
    background-color: rgb(58, 58, 58);
    margin-left: 10%;
    box-shadow: 0.2em 0.2em 0em 0em #242424;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    min-height: 4em;
    margin-top: 0.2em;
  }
  .text-page {
    margin-left: 1em;
    font-family: "Arial Narrow Bold", sans-serif;
  }
  @font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v199/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
      format("woff2");
  }
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 25px;
    line-height: 0;
    margin-right: -1em;
  }
  .font {
    min-width: -100px;
    min-height: -100px;
    appearance: none;
    border: 0;
    background: #5d5d5d00;
    color: #ffffff;
    padding: 0.5em 50px;
    font: 15px/1 Tahoma;
  }
  .button-social {
    min-width: 0px;
    min-height: 0px;
    appearance: none;
    border: 0;
    background: #5d5d5d00;
    color: #ffffff;
    padding: 0px 0px;
    font: 5px/1 Tahoma;
    cursor: pointer;
  }
  .button-social:hover {
    background: #ffffffad;
    box-shadow: 0 0 1px 2px #ffffffad;
  }
  .button-social:focus {
    outline: none;
  }
  /*social icon*/
  .youtube-icon {
    margin-left: -19em;
  }

  /* Другие люди */
  .c-button-user {
    appearance: none;
    border: 0;
    background: #2c2c2c;
    color: #ffffff;
    padding: 0.5em 40px 10px 30px;
    font: 15px/1 Tahoma;
    cursor: pointer;
    box-shadow: 0 1px 0px 0px #4b4b4b;
    margin-bottom: 1px;
  }
  .c-button-user:hover {
    background: #4b4b4b;
    box-shadow: 0 0 10px 2px #4b4b4b;
  }
  .c-button-user:focus {
    outline: none;
  }
  .text-align2 {
    margin-top: -1em;
  }
  .box {
  }
  .content {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 400px;
    background: rgb(24, 24, 24);
    opacity: 0;
    display: none;
    position: absolute;
    transition: all 100ms ease;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    overflow-y: auto;
    margin: 0 51.8%;
    margin-top: 1em;
    border-radius: 0px 0px 20px 20px;
  }
  .content.show {
    opacity: 1;
  }
  .mybutt {
  }
  @media (max-width: 1600px) {
    .box {
    }
    .content {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 400px;
      background: rgb(24, 24, 24);
      opacity: 0;
      display: none;
      position: absolute;
      transition: all 100ms ease;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      overflow-y: auto;
      margin: 0 52%;
      margin-top: 1em;
      border-radius: 0px 0px 20px 20px;
    }
    .content.show {
      opacity: 1;
    }
    .mybutt {
    }
  }
  @media (max-width: 1400px) {
    .box {
    }
    .content {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 400px;
      background: rgb(24, 24, 24);
      opacity: 0;
      display: none;
      position: absolute;
      transition: all 100ms ease;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      overflow-y: auto;
      margin: 0 52.5%;
      margin-top: 1em;
      border-radius: 0px 0px 20px 20px;
    }
    .content.show {
      opacity: 1;
    }
    .mybutt {
    }
  }
  /* Социальные сети */
  .box1 {
  }
  .content1 {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 400px;
    background: rgb(24, 24, 24);
    opacity: 0;
    display: none;
    position: absolute;
    transition: all 100ms ease;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    overflow-y: auto;
    margin: 0 43.9%;
    margin-top: 1em;
    border-radius: 0px 0px 20px 20px;
  }
  .content1.show {
    opacity: 1;
  }
  .mybutt1 {
  }
  @media (max-width: 1600px) {
    .box1 {
    }
    .content1 {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 400px;
      background: rgb(24, 24, 24);
      opacity: 0;
      display: none;
      position: absolute;
      transition: all 100ms ease;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      overflow-y: auto;
      margin: 0 42.6%;
      margin-top: 1em;
      border-radius: 0px 0px 20px 20px;
    }
    .content1.show {
      opacity: 1;
    }
    .mybutt1 {
    }
  }
  @media (max-width: 1400px) {
    .box1 {
    }
    .content1 {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 400px;
      background: rgb(24, 24, 24);
      opacity: 0;
      display: none;
      position: absolute;
      transition: all 100ms ease;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      overflow-y: auto;
      margin: 0 41.7%;
      margin-top: 1em;
      border-radius: 0px 0px 20px 20px;
    }
    .content1.show {
      opacity: 1;
    }
    .mybutt1 {
    }
  }
  @media (max-width: 1300px) {
    .box1 {
    }
    .content1 {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 400px;
      background: rgb(24, 24, 24);
      opacity: 0;
      display: none;
      position: absolute;
      transition: all 100ms ease;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      overflow-y: auto;
      margin: 0 41%;
      margin-top: 1em;
      border-radius: 0px 0px 20px 20px;
    }
    .content1.show {
      opacity: 1;
    }
    .mybutt1 {
    }
  }
  /* Автор */
  .box2 {
  }
  .content2 {
    min-width: 200px;
    max-width: 200px;
    min-height: 260px;
    max-height: 400px;
    background: rgb(24, 24, 24);
    opacity: 0;
    display: none;
    position: absolute;
    transition: all 100ms ease;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    overflow-y: auto;
    margin: 0 36.1%;
    margin-top: 1em;
    border-radius: 0px 0px 20px 20px;
  }
  .content2.show {
    opacity: 1;
  }
  .mybutt2 {
  }
  .text-left-author {
    margin-left: 0.4em;
    margin-top: 0.5em;
  }
  .br-bottom {
    margin-bottom: 0.6em;
  }
  /* Меню */
  .box3 {
  }
  .content3 {
    min-width: 200px;
    max-width: 200px;
    min-height: 260px;
    max-height: 400px;
    background: rgb(24, 24, 24);
    opacity: 0;
    display: none;
    position: absolute;
    transition: all 100ms ease;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    overflow-y: auto;
    margin: 0 -1em;
    margin-top: 1em;
    border-radius: 0px 0px 20px 20px;
  }
  .content3.show {
    opacity: 1;
  }
  .mybutt3 {
  }
}
@media (max-width: 525px) {
  .top-page {
    text-align: center;
    background-color: rgb(44, 44, 44);
    box-shadow: 0.2em 0.2em 0em 0em #111111;
    max-width: 20000em;
    width: 110%;
    margin-top: 1em;
    margin-left: -1em;
  }
}
